.features-section {
  height: 500vh; /* Height for scroll through all features */
  position: relative;
  /* background-color: #FAFAFA; */
}

.features-sticky-container {
  position: sticky;
  top: 80px;
  height: calc(100vh - 80px);
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
